/* Index Tabbed CSS
@autor	Using Bootstrap CSS from Twitter
@autor	Saske (http://www.phpbbsaske.es)
*/

.nav {
  padding-left: 0;
  margin-bottom: 1px;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.nav.open > a .caret,
.nav.open > a:hover .caret,
.nav.open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  display: table-cell;
  float: none;
  width: 1%;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 5px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  display: table-cell;
  float: none;
  width: 1%;
}

.nav-justified > li > a {
  text-align: center;
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs-justified > .active > a {
  border-bottom-color: #ffffff;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}

.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-tabbed{
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-tabbed-body {
  padding: 15px;
}

.panel-tabbed > .list-group {
  margin-bottom: 0;
}

.panel-tabbed > .list-group .list-group-item {
  border-width: 1px 0;
}

.panel-tabbed > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-tabbed > .list-group .list-group-item:last-child {
  border-bottom: 0;
}

.panel-tabbed-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel-tabbed-heading {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-tabbed-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.panel-tabbed-title > a {
  color: inherit;
}

.panel-tabbed-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-tabbed-group .panel-tabbed {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}

.panel-tabbed-group .panel-tabbed + .panel-tabbed {
  margin-top: 5px;
}

.panel-tabbed-group .panel-tabbed-heading {
  border-bottom: 0;
}

.panel-tabbed-group .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top: 1px solid #dddddd;
}

.panel-tabbed-group .panel-tabbed-footer {
  border-top: 0;
}

.panel-tabbed-group .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom: 1px solid #dddddd;
}

.panel-tabbed-primary {
  border-color: #428bca;
}

.panel-tabbed-primary > .panel-tabbed-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-tabbed-primary > .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top-color: #428bca;
}

.panel-tabbed-primary > .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom-color: #428bca;
}

.panel-tabbed-success {
  border-color: #d6e9c6;
}

.panel-tabbed-success > .panel-tabbed-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-tabbed-success > .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top-color: #d6e9c6;
}

.panel-tabbed-success > .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom-color: #d6e9c6;
}

.panel-tabbed-warning {
  border-color: #fbeed5;
}

.panel-tabbed-warning > .panel-tabbed-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-tabbed-warning > .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top-color: #fbeed5;
}

.panel-tabbed-warning > .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom-color: #fbeed5;
}

.panel-tabbed-danger {
  border-color: #eed3d7;
}

.panel-tabbed-danger > .panel-tabbed-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-tabbed-danger > .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top-color: #eed3d7;
}

.panel-tabbed-danger > .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom-color: #eed3d7;
}

.panel-tabbed-info {
  border-color: #bce8f1;
}

.panel-tabbed-info > .panel-tabbed-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-tabbed-info > .panel-tabbed-heading + .panel-tabbed-collapse .panel-tabbed-body {
  border-top-color: #bce8f1;
}

.panel-tabbed-info > .panel-tabbed-footer + .panel-tabbed-collapse .panel-tabbed-body {
  border-bottom-color: #bce8f1;
}